

		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src="/assets/img/shop01.png" alt="">
							</div>
							<div class="shop-body">
								<h3>Most popular toasters<br>Collection</h3>
								<a href="#" class="cta-btn">Choose now <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>

					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src="/assets/img/shop03.png" alt="">
							</div>
							<div class="shop-body">
								<h3>Most popular places<br>Collection</h3>
								<a href="#" class="cta-btn">Choose now <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>

					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src="/assets/img/shop02.png" alt="">
							</div>
							<div class="shop-body">
								<h3>Most popular enterainment<br>Collection</h3>
								<a href="#" class="cta-btn">Fun now <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
<!-- ADS ___________________________________________________________________________________________________________________-->
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="/assets/img/place2.jpg" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Restaurants</p>
								<h3 class="product-name"><a href="#">Bakyt Hall</a></h3>
								<h4 class="product-price">$15000.00 <del class="product-old-price">$16000.00</del></h4>
								<div class="product-rating">
								</div>
								<div class="product-btns">
									<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="/assets/img/toa1.jpg" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Toasters</p>
								<h3 class="product-name"><a href="#">Alikhan Yesilbay</a></h3>
								<h4 class="product-price">$2000.00 <del class="product-old-price">$3000.00</del></h4>
								<div class="product-rating">
								</div>
								<div class="product-btns">
									<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="/assets/img/singer.jpg" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Enterainment</p>
								<h3 class="product-name"><a href="#">Whitney Houston</a></h3>
								<h4 class="product-price">$100000.00 <del class="product-old-price">$15000.00</del></h4>
								<div class="product-rating">
								</div>
								<div class="product-btns">
									<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="/assets/img/food.jpg" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Food</p>
								<h3 class="product-name"><a href="#">Halal</a></h3>
								<h4 class="product-price">$5000.00 <del class="product-old-price">$6000.00</del></h4>
								<div class="product-rating">
								</div>
								<div class="product-btns">
									<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="/assets/img/place.jpeg" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Restaurants</p>
								<h3 class="product-name"><a href="#">ZHETISU ballroom</a></h3>
								<h4 class="product-price">$9000.00 </h4>
								<div class="product-rating">
								</div>
								<div class="product-btns">
									<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="/assets/img/dance.jpg" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Enterainment</p>
								<h3 class="product-name"><a href="#">Angels Dance Group</a></h3>
								<h4 class="product-price">$1000.00</h4>
								<div class="product-rating">
								</div>
								<div class="product-btns">
									<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="/assets/img/food2.jpg" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Food</p>
								<h3 class="product-name"><a href="#">Alel</a></h3>
								<h4 class="product-price">$7000.00 <del class="product-old-price">$8000.00</del></h4>
								<div class="product-rating">
								</div>
								<div class="product-btns">
									<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="/assets/img/camera.jpg" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Cameraman</p>
								<h3 class="product-name"><a href="#">Naran Production</a></h3>
								<h4 class="product-price">$6000.00 <del class="product-old-price">$7000.00</del></h4>
								<div class="product-rating">
								</div>
								<div class="product-btns">
									<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>


		<div id="hot-deal" class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="hot-deal">
							<ul class="hot-deal-countdown">
								<li>
									<div>
										<h3>02</h3>
										<span>Days</span>
									</div>
								</li>
								<li>
									<div>
										<h3>10</h3>
										<span>Hours</span>
									</div>
								</li>
								<li>
									<div>
										<h3>34</h3>
										<span>Mins</span>
									</div>
								</li>
								<li>
									<div>
										<h3>60</h3>
										<span>Secs</span>
									</div>
								</li>
							</ul>
							<h2 class="text-uppercase">Specials in honor of the holidays</h2>
							<p>30% discount on all selection</p>
							<a class="primary-btn cta-btn" href="#">Look now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<p *ngIf="numbers.length == 0">NO DATA</p>
			<p>Average price for Places - {{ cash | currency }}</p>
			<p>Average price for Toasters - {{ cash1 | currency }}</p>
			<p>Average price for Food - {{ cash2 | currency }}</p>
			<p>Average price for Enterainment - {{ cash3 | currency }}</p>
			<p>Average price for Cameraman - {{ cash4 | currency }}</p>
			<p>Last update - {{ date | date }}</p>
			<ul *ngIf="numbers.length > 0">
				<li *ngFor="let number of numbers">{{ number}}</li>
			</ul>
					<h4 style="text-align:center;" [ngClass]="isGreen ? 'text-green' : 'text-red' ">{{ text | uppercase }}<h4>
		<div id="newsletter" class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="newsletter">
							<p>Sign Up to get <strong>MORE BONUSES</strong></p>
							<form>
								<input class="input" type="text" [(ngModel)]=name name="name" placeholder="Enter Your Email"/>
								<button class="newsletter-btn"><i class="fa fa-envelope"></i> Hi, {{name}}</button>
							</form>
							<ul class="newsletter-follow">
								<li>
									<a href="https://vk.com/zznmon"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="https://vk.com/zznmon"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="https://vk.com/zznmon"><i class="fa fa-instagram"></i></a>
								</li>
								<li>
									<a href="https://vk.com/zznmon"><i class="fa fa-pinterest"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
